<h3>
  Angular/Adal.js Seed
</h3>

<nav id="unsecured-nav" *ngIf="!adalService.userInfo">
  <a [routerLink]="['/']">
    Login
  </a> 
  |
  <a [routerLink]="['/about']">
    About
  </a> 
  |
  <a [routerLink]="['/contact']">
    Contact Us
  </a>
</nav>

<nav id="secured-nav" *ngIf="adalService.userInfo">
  <a [routerLink]="['/home']">
    Home
  </a> 
  |
  <a [routerLink]="['/values']">
    Values API
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<br />
<footer>
  © 2016
</footer>